@charset "utf-8";


@font-face {
  font-family: "Footer Icon";
  src: url("../font/icon.eot?26518935");
  src: url("../font/icon.eot?26518935#iefix") format("embedded-opentype"),
       url("../font/icon.woff2?26518935") format("woff2"),
       url("../font/icon.woff?26518935") format("woff"),
       url("../font/icon.ttf?26518935") format("truetype"),
       url("../font/icon.svg?26518935#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../font/alegreya-regular.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaHrEBBsBhlBjvfkSLk96rp5w.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
  src: url("../font/alegreya-bold.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaErEBBsBhlBjvfkSLk_xHM8pxULg.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}


body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(0, 0%, 98%);
  overflow-y: scroll;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

div.title {
  margin: 30px 0px 0px 0px;
  padding: 0px;
  font: italic 700 48px "Alegreya";
  color: hsl(28, 54%, 33%);
  line-height: 1;
  text-align: center;
}

div.content {
  margin: 40px 0px 40px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

div.content div#board {
  width: 600px;
  height: 600px;
  margin: 0px 30px;
  padding: 50px 50px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 20%, 0.2);
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}

div.content div#board div.tile,
div.content div.right div.next-container div.next div#next-tile {
  width: 100px;
  height: 100px;
  background-color: hsl(28, 80%, 98%);
  position: relative;
}

div.content div#board div.tile.alternative {
  background-color: hsl(28, 80%, 97%);
}

div.content div#board div.tile div.background,
div.content div#board div.tile div.highlight,
div.content div.right div.next-container div.next div#next-tile div.background {
  width: 100px;
  height: 100px;
  background-size: contain;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

div.content div#board div.tile div.background.hover {
  opacity: 0.2;
  z-index: 1;
}

div.content div#board div.tile div.information,
div.content div.right div.next-container div.next div#next-tile div.information {
  margin: 3px 0px 0px 5px;
  padding: 0px;
  font: 16px "Inconsolata", monospace;
  color: white;
  line-height: 1.2;
  text-shadow: 1px 1px 0 hsl(28, 54%, 33%), -1px 1px 0 hsl(28, 54%, 33%), 1px -1px 0 hsl(28, 54%, 33%), -1px -1px 0 hsl(28, 54%, 33%);
  position: absolute;
  z-index: 3;
}

div.content div#board div.tile div.highlight {
  background-color: hsla(180, 100%, 50%, 0.2);
}

div.content div#board div.stone {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 10;
}

div.content div#board div#mask {
  width: 700px;
  height: 700px;
  font: italic 700 64px "Alegreya";
  color: white;
  line-height: 1;
  border-radius: 15px;
  background-color: hsl(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
}

div.content div.right {
  height: 700px;
  margin: 0px 30px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

div.content div.right div.next-container {
  margin: 0px 0px 25px 0px;
  padding: 20px 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 20%, 0.2);
  display: flex;
  align-items: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
}

div.content div.right div.next-container div.next {
  margin: 0px;
  padding: 0px;
}

div.content div.right div.next-container div.next div.next-label {
  margin: 0px;
  padding: 0px 3px;
  font: italic 400 24px "Alegreya";
  color: hsl(28, 54%, 33%);
  line-height: 1;
  text-align: left;
}

div.content div.right div.next-container div.next div#next-tile {
  margin: 3px 0px 3px 0px;
  padding: 0px;
}

div.content div.right div.next-container div.next div.next-guide {
  font: italic 400 14px "Alegreya";
  color: hsl(28, 54%, 33%);
  line-height: 1;
  text-align: center;
}

div.content div.right div.next-container div.number {
  margin: 0px 0px;
  padding: 0px;
}

div.content div.right div.next-container div.number div#deck-size {
  width: 75px;
  font: italic 700 64px "Alegreya";
  color: hsl(28, 54%, 33%);
  line-height: 1;
  text-align: right;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
}

div.content div.right div.next-container div#deck {
  width: 150px;
  height: 150px;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 20px;
  border-left: 1px hsl(0, 0%, 90%) solid;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

div.content div.right div.next-container div#deck div.tile {
  width: 25px;
  height: 25px;
  background-color: hsl(28, 80%, 98%);
}

div.content div.right div.next-container div#deck div.tile.alternative {
  background-color: hsl(28, 80%, 97%);
}

div.content div.right div.next-container div#deck div.tile div.background {
  width: 25px;
  height: 25px;
  background-size: contain;
}

div.content div.right div.next-container div#queue {
  width: 150px;
  height: 150px;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 20px;
  border-left: 1px hsl(0, 0%, 90%) solid;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

div.content div.right div.next-container div#queue div.tile {
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: hsl(28, 80%, 98%);
}

div.content div.right div.next-container div#queue div.tile.next {
  border: 2px solid hsl(60, 80%, 50%);
}

div.content div.right div.next-container div#queue div.tile div.background {
  width: 25px;
  height: 25px;
  background-size: contain;
}

div.content div.right div.time {
  margin: 0px 0px 25px 0px;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 20%, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
}

div.content div.right div.time div.time-label {
  margin: 25px 20px 0px 0px;
  padding: 0px;
  font: italic 400 24px "Alegreya";
  color: hsl(28, 54%, 33%);
  line-height: 1;
}

div.content div.right div.time div#minute,
div.content div.right div.time div.colon,
div.content div.right div.time div#second {
  margin: 0px;
  padding: 0px;
  font: italic 700 64px "Alegreya";
  color: hsl(28, 54%, 33%);
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
}

div.content div.right div.time div.colon {
  margin: 0px 5px;
}

div.content div.right div.button {
  margin: 0px 0px 25px 0px;
  padding: 0px;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}

div.content div.right div.button input[type="button"] {
  width: 100px;
  height: 32px;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font: italic 400 18px "Alegreya";
  color: white;
  line-height: 32px;
  background-color: hsl(28, 54%, 33%);
  border: none;
  border-radius: 100px;
  box-shadow: 0px 4px 8px 0px hsla(28, 74%, 22%, 0.2);
  cursor: pointer;
  outline: none;
  display: inline-block;
}

div.content div.right div.button input[type="button"].large {
  width: 180px;
  height: 45px;
  font: italic 400 24px "Alegreya";
}

div.content div.right div.button input[type="button"].disabled {
  background-color: hsl(240, 0%, 60%);
  box-shadow: 0px 4px 8px 0px hsla(240, 0%, 40%, 0.2);
}

div.content div.right div.button button {
  margin: 0px;
  padding: 0px;
  font: italic 400 18px "Alegreya";
  color: rgb(0, 172, 237);
  line-height: 1;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

div.content div.right div.button button:before {
  margin: 0px 5px 0px 0px;
  font: 24px "Footer Icon";
  content: "\F000";
}

div.content div.right div.check {
  margin: 0px 0px 25px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

div.content div.right div.check hr {
  width: 0px;
  height: 1em;
  margin: 0px 5px;
  border: 0px;
  border-right: 1px hsl(0, 0%, 90%) solid;
  display: inline-block;
}

div.content div.right div.check input[type="checkbox"] {
  display: none;
}

div.content div.right div.check input[type="checkbox"] +label {
  margin: 0px;
  padding: 0px 0px 0px 18px;
  font: 14px "Times New Roman", "Times", "IPA P明朝", "IPA明朝", "ＭＳ Ｐ明朝", serif;
  color: black;
  line-height: 1.5;
  position: relative;
}

div.content div.right div.check input[type="checkbox"] +label::before {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px hsla(0, 0%, 20%, 0.2) inset;
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  content: "";
}

div.content div.right div.check input[type="checkbox"]:checked +label::after {
  width: 4px;
  height: 8px;
  border-bottom: 2px hsl(28, 54%, 33%) solid;
  border-right: 2px hsl(28, 54%, 33%) solid;
  transform: rotate(40deg);
  top: 2px;
  left: 4px;
  position: absolute;
  display: block;
  content: "";
}

div.content div.right div.record {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 700px;
}

div.content div.right div.record textarea {
  width: 100%;
  height: 100%;
  margin: 0px 0px;
  padding: 20px 20px;
  font: 16px "Inconsolata", monospace;
  line-height: 1.2;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 20%, 0.2);
  outline: none;
  resize: none;
  box-sizing: border-box;
  display: block;
}

div.rule {
  margin: 40px 0px 40px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.rule div ul {
  margin: 0px 10px;
  padding: 0px;
  list-style-type: none;
}

div.rule div li {
  font: 14px "Times New Roman", "Times", "IPA P明朝", "IPA明朝", "ＭＳ Ｐ明朝", serif;
  color: black;
  line-height: 1.4;
}

div.rule div hr {
  margin: 3px 0px;
  border: 0px;
  border-top: 1px hsl(0, 0%, 90%) solid;
}
