@charset "utf-8";


@font-face {
  font-family: "Footer Icon";
  src: url("../font/icon.eot?26518935");
  src: url("../font/icon.eot?26518935#iefix") format("embedded-opentype"),
       url("../font/icon.woff2?26518935") format("woff2"),
       url("../font/icon.woff?26518935") format("woff"),
       url("../font/icon.ttf?26518935") format("truetype"),
       url("../font/icon.svg?26518935#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../font/alegreya-regular.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaHrEBBsBhlBjvfkSLk96rp5w.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
  src: url("../font/alegreya-bold.otf") format("opentype"),
       url("https://fonts.gstatic.com/s/alegreya/v10/4UaErEBBsBhlBjvfkSLk_xHM8pxULg.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}


body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(0, 0%, 98%);
  overflow-y: scroll;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1 {
  margin: 30px 0px 0px 0px;
  padding: 0px;
  font: italic 700 48px "Alegreya";
  color: hsl(28, 54%, 33%);
  line-height: 1;
  text-align: center;
}

h3 {
  margin: 0px 0px 5px 0px;
  font: italic 400 24px "Alegreya";
  color: hsl(28, 54%, 33%);
  line-height: 1;
}

hr.pipe {
  width: 0px;
  height: 1em;
  margin: 0px 5px;
  border: 0px;
  border-right: 1px hsl(0, 0%, 90%) solid;
  display: inline-block;
}

button {
  width: 110px;
  height: 32px;
  margin: 0px 5px 0px 5px;
  padding: 0px;
  font: italic 400 18px "Alegreya";
  color: white;
  line-height: 32px;
  background-color: hsl(28, 54%, 33%);
  border: none;
  border-radius: 100px;
  box-shadow: 0px 4px 8px 0px hsla(28, 74%, 22%, 0.2);
  cursor: pointer;
  outline: none;
  display: inline-block;
}

button.disabled {
  background-color: hsl(240, 0%, 60%);
  box-shadow: 0px 4px 8px 0px hsla(240, 0%, 40%, 0.2);
}

button.tweet {
  margin: 0px;
  padding: 0px;
  font: italic 400 18px "Alegreya";
  color: rgb(0, 172, 237);
  line-height: 1;
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

button.tweet:before {
  margin: 0px 5px 0px 0px;
  font: 24px "Footer Icon";
  content: "\F000";
}

button.top-row {
  margin: 0px 5px 10px 5px;
}

textarea {
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 8px 8px;
  font: 16px "Inconsolata", monospace;
  line-height: 1.2;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px hsla(0, 0%, 20%, 0.2) inset;
  outline: none;
  resize: none;
  box-sizing: border-box;
  display: inline-block;
}

input[type="text"] {
  width: 100%;
  height: 30px;
  margin: 0px;
  padding: 0px 8px;
  font: 16px "Inconsolata", monospace;
  line-height: 1.2;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px hsla(0, 0%, 20%, 0.2) inset;
  outline: none;
  resize: none;
  box-sizing: border-box;
  display: inline-block;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] +label {
  margin: 0px;
  padding: 0px 0px 0px 18px;
  font: 14px "Times New Roman", "Times", "IPA P明朝", "IPA明朝", "ＭＳ Ｐ明朝", serif;
  line-height: 1.5;
  position: relative;
}

input[type="checkbox"] +label::before {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px hsla(0, 0%, 20%, 0.2) inset;
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  content: "";
}

input[type="checkbox"]:checked +label::after {
  width: 4px;
  height: 8px;
  border-bottom: 2px hsl(28, 54%, 33%) solid;
  border-right: 2px hsl(28, 54%, 33%) solid;
  transform: rotate(40deg);
  top: 2px;
  left: 4px;
  position: absolute;
  display: block;
  content: "";
}

div.card {
  padding: 20px 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px hsla(0, 0%, 20%, 0.2);
}

div.input-group {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

div.button-group {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

div.input-group >div.label {
  font: italic 400 18px "Alegreya";
  color: hsl(28, 54%, 33%);
}

div.guide {
  margin: 3px 0px 0px 0px;
  font: italic 400 14px "Alegreya";
  color: hsl(28, 54%, 33%);
  line-height: 1;
  text-align: center;
}

div.mask {
  background-color: hsl(0, 0%, 0%, 0.5);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

div.modal {
  line-height: 1;
  display: none;
  position: fixed;
}

div.tile {
  width: 100px;
  height: 100px;
  background-color: hsl(28, 80%, 98%);
  position: relative;
}

div.tile.alternative {
  background-color: hsl(28, 80%, 97%);
}

div.tile >div.texture,
div.tile >div.suggest {
  width: 100px;
  height: 100px;
  background-size: contain;
  pointer-events: none;
  position: absolute;
}

div.tile >div.texture.hover {
  opacity: 0.2;
}

div.tile >div.information {
  margin: 3px 0px 0px 5px;
  padding: 0px;
  font: 16px "Inconsolata", monospace;
  color: white;
  line-height: 1.2;
  text-shadow: 1px 1px 0px hsl(28, 54%, 33%), -1px 1px 0px hsl(28, 54%, 33%), 1px -1px 0px hsl(28, 54%, 33%), -1px -1px 0px hsl(28, 54%, 33%);
  position: absolute;
}

div.tile >div.suggest {
  background-color: hsla(180, 100%, 50%, 0.2);
}

div.mini-tile {
  width: 25px;
  height: 25px;
  background-color: hsl(28, 80%, 98%);
}

div.mini-tile.alternative {
  background-color: hsl(28, 80%, 97%);
}

div.mini-tile >div.texture {
  width: 100%;
  height: 100%;
  background-size: contain;
}

div#queue >div.mini-tile {
  width: 35px;
  height: 35px;
  padding: 3px;
  border: 2px solid transparent;
  background-color: transparent;
}

div#queue >div.mini-tile.next {
  border: 2px solid hsl(28, 80%, 80%);
}

div.stone {
  width: 18px;
  height: 18px;
  position: absolute;
}

div#content {
  margin: 40px 0px 40px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

div#content >div#mainboard-card {
  height: 700px;
  width: 700px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}

div#mainboard-card >div#board {
  width: 600px;
  height: 600px;
  margin: 30px 30px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}

div#board >div#tiles {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

div#board >div#stones {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

div#mainboard-card >div#gameover,
div#mainboard-card >div#gameclear {
  width: 700px;
  height: 700px;
  margin: -20px -20px;
  font: italic 700 64px "Alegreya";
  color: white;
  line-height: 1;
  border-radius: 15px;
  background-color: hsl(0, 0%, 0%, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
}

div#mainboard-card >div#gameclear {
  background-color: transparent;
  text-shadow: 1px 1px 0px hsl(28, 54%, 33%), -1px 1px 0px hsl(28, 54%, 33%), 1px -1px 0px hsl(28, 54%, 33%), -1px -1px 0px hsl(28, 54%, 33%);
}

div#right {
  height: 700px;
  margin: 0px 30px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

div#right >div#buttons {
  margin: 0px 0px 25px 0px;
  padding: 0px;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}

div#right >div#next-card {
  margin: 0px 0px 25px 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

div#next-card >div#next-deck-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
}

div#next-deck-container >div#next-wrapper {
}

div#next-wrapper >div#next-tile {
  margin: 0px;
  padding: 0px;
}

div#next-deck-container >div#rest-round-wrapper {
}

div#rest-round-wrapper >div#rest-round {
}

div#next-card div#rest-round {
  margin: 0px 0px;
  padding: 0px;
  width: 69px;
  font: italic 700 64px "Alegreya";
  color: hsl(28, 54%, 33%);
  line-height: 1;
  text-align: right;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
}

div#next-deck-container >div#deck-wrapper {
  margin: 0px 0px 0px 15px;
  padding: 0px 0px 0px 15px;
  border-left: 1px hsl(0, 0%, 90%) solid;
}

div#deck-wrapper >div#deck {
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

div#next-card >div#queue-wrapper {

}

div#queue-wrapper >div#queue {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

div#right >div#timer-card {
  margin: 0px 0px 25px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  font: italic 700 64px "Alegreya";
  color: hsl(28, 54%, 33%);
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  text-align: center;
}

div#right >div#timer-card >span#minute,
div#right >div#timer-card >span#second {
  margin: 0px 5px;
}

div#right >div#history-card {
  flex-basis: 100px;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 0;
}

div#history-card ul#history {
  height: 100%;
  width: 100%;
  overflow: hidden scroll;
  position: relative;
}

ul#history li {
  margin: 2px 0px;
  padding: 0px;
  font: 16px "Inconsolata", monospace;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center; 
}

ul#history li:first-child {
  margin-top: 0px;
}

ul#history li:last-child {
  margin-bottom: 0px;
}

ul#history li.current {
  background-color: hsl(28, 80%, 95%);
}

ul#history li >div.data {
  margin: 0px 0px 0px 5px;
} 

div#rule {
  margin: 40px 0px 40px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#rule >div ul {
  margin: 0px 10px;
  padding: 0px;
  list-style-type: none;
}

div#rule >div li {
  font: 14px "Times New Roman", "Times", "IPA P明朝", "IPA明朝", "ＭＳ Ｐ明朝", serif;
  color: black;
  line-height: 1.4;
}

div#rule >div hr {
  margin: 3px 0px;
  border: 0px;
  border-top: 1px hsl(0, 0%, 90%) solid;
}
